<h1 class="title">Change password</h1>
<div id="response"></div>
<div class="content">
  <edusogno-card class="card-form">
    <div class="card-form-content">
      <edusogno-input
        id="input-password"
        name="password"
        type="password"
        label="Enter your current password"
        placeholder="*************"
      ></edusogno-input>
      <edusogno-input
        id="input-new-password"
        name="password"
        type="password"
        label="Enter your new password"
        placeholder="*************"
      ></edusogno-input>

      <edusogno-button type="submit" onclick="submitChangePasswordForm()">
        Change password
      </edusogno-button>
    </div>
  </edusogno-card>
</div>
