<h1 class="title">Create event</h1>
<div id="response"></div>
<div class="content">
  <edusogno-card class="card-form">
    <div class="card-form-content">
      <edusogno-input
        id="input-title"
        name="title"
        type="text"
        label="Enter title"
        placeholder="name@example.com"
      ></edusogno-input>
      <edusogno-input
        id="input-description"
        name="description"
        type="text"
        label="Enter description"
        placeholder="Test Edusogno 1"
      ></edusogno-input>
      <edusogno-input
        id="input-event-date"
        name="event_date"
        type="test"
        label="Enter date"
        placeholder="yyyy-mm-dd hh:mm:ss"
      ></edusogno-input>

      <edusogno-button
        id="submit-create-event"
        type="submit"
        onclick="submitCreateEventForm()"
      >
        Create
      </edusogno-button>
    </div>
  </edusogno-card>
</div>
