<h1 id="title" class="title">
  Forgot password
  <b id="event-name"><span class="skeleton"></span></b>
</h1>
<div id="response"></div>
<div class="content">
  <edusogno-card class="card-form">
    <div class="card-form-content">
      <edusogno-input
        id="input-email"
        name="title"
        type="text"
        label="Enter e-mail"
        placeholder="name@example.com"
      ></edusogno-input>

      <edusogno-button
        id="submit-create-event"
        type="submit"
        onclick="submitForgotForm()"
      >
        Send code
      </edusogno-button>
    </div>
  </edusogno-card>
</div>
