<h1 id="title" class="title">
  Restore password
  <b id="event-name"><span class="skeleton"></span></b>
</h1>
<div id="response"></div>
<div class="content">
  <edusogno-card class="card-form">
    <div class="card-form-content">
      <edusogno-input
        id="temp_reset_password_code"
        name="temp_reset_password_code"
        type="pasword"
        label="Enter code"
        placeholder="***********"
      ></edusogno-input>
      <edusogno-input
        id="new_password"
        name="new_password"
        type="password"
        label="Enter new password"
        placeholder="***********"
      ></edusogno-input>

      <edusogno-button
        id="submit-create-event"
        type="submit"
        onclick="submitResetPasswordForm()"
      >
        Restore password
      </edusogno-button>
    </div>
  </edusogno-card>
</div>
